* {
    margin: 0;
    padding: 0;
}

:root {
    --background: #5D8834;
    --bicon: #ffffff;
}

.navt {
    display:flex;
    justify-content: space-between;
    padding: 10px;

background-color: var(--background);
}

.navt-left {
    display: flex;
    justify-content: center;
}

.navt-left .navt-ul{
    align-items: center;
    justify-content: center;
    display: flex;
    text-decoration: none;
    list-style: none;
    gap: 10px;
    /* margin-right: 80px; */
    padding-left: 140px;
}

.navt-left .navt-ul i {
    color: var(--bicon);
}

.navt-left .navt-ul span {
    color: var(--bicon);
}

.navt-left .navt-ul a {
    list-style: none;
    text-decoration: none;
    color: var(--bicon);
}

.navt-ricon .navt-rul{
    display: flex;
    justify-self: flex-end;
    align-items: end;
    text-decoration: none;
    list-style: none;
    gap: 10px;
    padding-right: 130px;
}

.navt-ricon .navt-rul a {
    color: var(--bicon);
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 140px;
}

.n-center ul {
    display:flex;
        list-style: none;
    text-decoration: none;
    
}

.n-center ul li{
    padding: 20px;
    /* color: black; */
    /* font-weight: 500; */
}

.n-right ul {
    display:flex;
}

.n-right ul li {
    list-style: none;
    padding: 20px;
    text-decoration: none;
}